.pull-right {
    float: right !important; // Use of important emulates bootstrap
}

.code {
	color: white;
	font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
}

p {
	background: #2C2F33;
}

body {
	background-image: url("src/cosmo.png");
	background-repeat: no-repeat;
	background-position: right bottom;
	margin-bottom: 200px;
}